#all{

    height: 600px;
    /*width: 100%;*/
    /*border: 1px salmon solid;*/
}
#all-1 {

    height: 100px;
    width: 100%;
    /*border: 1px blue solid;*/
}

#a1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /*background-color: red;*/
    position: relative;
}
#a1 img{
    height: 90px;
    width: 120px;
    margin-top: 120px;
    margin-left: 15px;
}

#a2{
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-left: -25px;
    margin-top: 100px;
    /*border: 1px gold solid;*/
}
#a3{
    height: 30px;
    width: 200px;
    font-size: 12px;
    color: #8D8D8D;
    margin-left: -300px;
    margin-top: 150px;
}
#b1{
    padding: 15px;
}
#input1{
    height: 200px;
    width: 100%;
    /*border: 1px gold solid;*/
}
#input1 input{
     outline: none;
 }
#input   input{
    outline: none;
}
#b2 {
    margin-top: -30px;
    display: flex;
    float: left;
    color: #8D8D8D;
}
#b3 img{
    display: flex;
    float: left;
    margin-top: -22px;
    height: 10px;
    width: 10px;
    margin-left: 40px;
}
#d4 img{
    display: flex;
    float: left;
    height: 50px;
    width: 10px;
    margin-left: 60px;
    margin-top: -48px;
}
#b1{
    position: relative;
}
#input1 input{
    position: absolute;
    display: flex;
    float: left;
    height: 20px;
    width: 100%;
    border: #FFFFFF;
    padding-left: 15px;
    margin-left: 72px;
    margin-top: -30px;

}
#c1{
    /*display: flex;*/
    width: 100%;
    margin-top: 70px;
    border: 1px #8D8D8D solid;

}
#input2 input{
    /*position: absolute;*/
    /*display: flex;*/
    /*float: left;*/
    /*height: 20px;*/
    width: 100%;
    border:white;
    padding-left: 15px;
     margin-left: -1px;
    margin-top: 15px;
    /*float: right;*/
}
#c2{
    margin-top: 45px;
    width: 100%;
    border: 1px #8D8D8D solid;
}
/*#e1{*/
    /*position: absolute;*/
    /*display: flex;*/
/*margin-left: 260px;*/
    /*font-size: 13px;*/
    /*height: 20px;*/
    /*width: 80px;*/
    /*padding-left: 8px;*/
    /*border-radius: 9px;*/
    /*background-color: #E2231A;*/
/*}*/
#e1{
    height: 22px;
    width: 75px;
    border-radius: 10px;
    background-color: #E2231A;
    right: 40px;
    top: 100px;
    position: absolute;
    /*display: flex;*/
}
#e1 a{
    font-size: smaller;
   padding-left: 4px;
    color: black;

}

/*}*/
#fom-d2{


    margin-top: 30px;
    height: 45px;
    width: 100%;
    background-color: #FCB6B3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#fom-d3{

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,.4);
    font-size: 14px;
}

/*第三部分*/
#wk-t{
    margin-top: -20px;
    padding: 15px;
}
#wkt-d{
    height: 30px;
    width: 100%;
    /*background-color: salmon;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wkt-d div{
    height: 1px;
    width: 30%;
    background-color: #E5E5E5;
}
#wkt-d span{
    font-size: 12px;
    color: #CCCCCC;
    font-weight: 600;
}
#wkt-d2{
    height: 40px;
    width: 40%;
    margin: auto;
    text-align: center;
}
#wkt-d2 div{
    width: 50%;
    height: 100%;
    /*background-color: #0074E1;*/
    float: left;
}
#wkt-d2 div img{
    height: 30px;
    width: 30px;
}
#wkt-d2 div p{
    margin-top: 2px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
}
#wkt-d3{
    margin-left: 40px;
    width: 70%;
margin-top: 40px;

    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,.4);
}
#wkt-d3 span{
    color: #4A90E2;
}
#mm1 img{
    position: absolute;
    top: 15px;
    left: 10px;
    height: 15px;
    width: 15px;
}
#fom-d2 span{
    color: #FFFFFF;
}
